@{
    ViewBag.Title = "Rewards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="background-color: lightgray;">
    @RenderBody()
</div>

@*refactor*@
@RenderSection("scripts", required: false)
