@{
    ViewBag.Title = "People";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="background-color: yellow;">
    @RenderBody()
</div>

@*refactor*@
@RenderSection("scripts", required: false)