@using MVCPL.Util.Extensions
@using MVCPL.Util.HtmlHelpers
@model MVCPL.Models.UserViewModel

@{
    ViewBag.Title = "Update";
    //Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>Update</h2>

@Html.Partial("_EditPartial", Model)


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
