@using MVCPL.Util.Extensions
@using MVCPL.Util.HtmlHelpers
@model MVCPL.Models.RewardViewModel

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

@Html.Partial("_DetailsPartial")
<p>
    @Html.ActionLink("Edit", "Update", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
